@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
.container{
    background-color: hsl(217, 54%, 11%);
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 350px;
    width: 100%;
    height: 596px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainInfo {
    max-width: 302px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.imageBox{
    width: 100%;
    height: 302px;
    position: relative;
}
.hide{
    width: 100%;
    height: 302px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: rgba(0,255,248,0);
}
.hide img{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.imageBox:hover .hide{
    background-color: rgba(0,255,248,0.5);
    cursor: pointer;
}
.imageBox:hover .hide img{
    opacity: 1;
}
.equilibrium {
    width: 100%;
    height: 302px;
    border-radius: 8px;
}
.name {
    font-weight: 600;
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    font-family: 'Kolker Brush';
    font-family: 'Outfit';
}
.name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit';
}
.MoreInfoBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92px;
   
}
.priceBox img {
    width: 11px;
    height: 18px;
}
.priceBox p{
    font-weight: 600;
    font-size: 16px;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit';
}
.leftTimeBox {
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.leftTimeBox p{
    font-weight: 400;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit';
}
.line {
    width: 100%;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
}
.creatorBox {
    width: 100%;
    display: flex;
    align-items: center;
}
.avatar {
    width: 33px;
    height: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.avatar img{
    width: 100%;
}
.creatorBox p{
    font-weight: 400;
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    margin-left: 16px;
    font-family: 'Outfit';
}
.creatorBox span {
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    margin-left: 5px;
    font-family: 'Outfit';
}
.creatorBox span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
